/* Removendo Estilização Default */
/* 
body {
    margin: 0 auto;
}
a { 
    text-decoration: none; 
    color: #000;
}
ul, ol {
    padding: 0;
    margin: 0;
}

li {
    list-style: none;
} 
*/


/* Estilos gerais */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
}

/* Estilo do cabeçalho */
header {
    background-color: #af6b4c;
    color: white;
    text-align: center;
    padding: 16px; /* 1rem = 16px */
}

/* Estilo do main e seções */
main {
    padding: 16px; /* 1rem = 16px */
}

section {
    background-color: white;
    padding: 16px; /* 1rem = 16px */
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin: 16px 0; /* 1rem = 16px */
    /* margin: 1rem auto;
    width: 50%; */
}
.last {
    margin-bottom: 80px;
}

h2 {
    border-bottom: 2px solid #af6b4c;
    padding-bottom: 8px; /* 0.5rem = 8px */
    margin-bottom: 16px; /* 1rem = 16px */
}

h3 {
    margin-top: 0;
}

/* Estilo das listas */
ul, ol {
    padding-left: 20px;
}

/* Estilo dos formulários */
form div {
    margin-bottom: 16px; /* 1rem = 16px */
}

label {
    display: block;
    margin-bottom: 8px; /* 0.5rem = 8px */
}

input, textarea, select {
    width: 99%;
    padding: 8px; /* 0.5rem = 8px */
    border: 1px solid #ccc;
    border-radius: 4px;
}
#cor {
    width: 50px;
    height: 50px;
}

button {
    background-color: #af6b4c;
    color: white;
    padding: 12px 24px; /* 0.75rem 1.5rem = 12px 24px */
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #a06945;
}

/* Estilo das figuras */
figure {
    margin: 0;
}

figcaption {
    text-align: center;
    font-style: italic;
}

/* Estilo do rodapé */
footer {
    background-color: #af6b4c;
    color: white;
    text-align: center;
    padding: 5px;
    position: fixed;
    width: 100%;
    bottom: 0;
}
