.container {
    display: flex;
    flex-direction: column;
    align-items: center; /* Alinha verticalmente */
    justify-content: center; /* Centraliza horizontalmente */
    min-height: 74.8vh;
    text-align: center;
}