
.pagination {
    margin-bottom: 10px;
    text-align: center;
}
  
.pagination button {
    margin: 0 10px;
    padding: 10px;
    border-radius: 20px;
    border: none;
    color: #FFF;
    background-color: #4CAF50;
}

.pagination button:hover {
    background-color: #037e22;
}