.lista-principal{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    padding: 20px;
}

.card {
    min-width: 300px;
    height: fit-content;
    color: white;
    overflow: hidden;
    background-color: rgb(60, 62, 68);
    border-radius: 20px;
    margin-bottom: 20px;
    transition: transform 0.3s ease, box-shadow 0.3s ease; /* Transição suave */
}

.card:hover {
    transform: scale(1.05); /* Aumenta o card em 5% */
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); /* Aumenta a sombra para destacar o card */
}

.char {
    width: 20%;
}

.char .char-image {
    width: 100%;
}
.char .edit {
    width: 25px;
    color: #FFF;
}

.char h2 {
    display: flex;
    padding: 15px;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.char-info {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.char-info span {
    padding: 5px;
}